# Created by http://www.gitignore.io

### idea ###
*.iml
.idea

### Bower ###
bower_components

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# gulp
dist
lib